$error-color: #EB5757;
$message-color: linear-gradient(155deg, #1d346a 0%, #031634 100%);
$text-color: #52555f;
$bg-color: #ffffff;
$table-bg-color: #F5F6FB;
$statistics-icon-color: #071f41;
$accent-text-color: #000000;
$accent-color: #FF751D;
$disable-text-color: rgba(82, 85, 95, 0.7);
$filter-text-color: #C7CCDC;
$line-color: #E0E5EB;
$light-accent-color: #FFDAC0;
$minus-money-color: #E53935;
$plus-money-color: #407946;
$input-color: #F6F7FB;
$light-border-color: #F6F7FC;
$active-tab-color: #FEFEFE;
$inactive-tab-color: #FAFBFD;
$placeholder-color: #A6ABB9;
$bg-accent-color: #F2F5FC;