@use "../../styles/var.scss" as *;

.wrap {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        border-radius: 20px;
        border: 2px solid #fff;
        width: 234px;
        background-color: #f5f6fb;
        overflow: hidden;
        padding-top: 12px;
        height: 278px;
    }
}

.title {

    @media screen and (min-width: 768px) {
        font-family: Roboto;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 12px;
    }
}

.list {

    @media screen and (min-width: 768px) {}
}

.item {

    @media screen and (min-width: 768px) {
        padding: 12px 20px;
        background-color: #f5f6fb;
        border-top: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.month {

    @media screen and (min-width: 768px) {
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #52555f;
    }
}

.sum {

    @media screen and (min-width: 768px) {
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #52555f;
    }
}